# Strings

## 6.1 A string is a sequence

In [3]:
fruit = 'banana'

In [6]:
fruit = "banana"

In [7]:
fruit

'banana'

In [1]:
x = 1

In [8]:
letter = fruit[1]

In [9]:
letter

'a'

## 6.2 `len` of string

len is short for length, the length of string

In [10]:
len(fruit)

6

In [11]:
len('banana')

6

## 6.3 Traversal through a string with a loop

In [14]:
index = 0
while index < len(fruit):
    print(fruit[index], end='\t') # \t: tabulation
    index += 1

b	a	n	a	n	a

In [16]:
for letter in fruit:
    print(letter, end='\t')

b	a	n	a	n	a

## 6.4 String slices

a slice of sausage

In [18]:
fruit

'banana'

In [19]:
fruit[1]

'a'

In [21]:
fruit[1:4] # [1,4)

'ana'

In [24]:
fruit[:-1]

'banan'

In [25]:
fruit[::2] # begin:end:step

'bnn'

reverse a string

In [28]:
fruit[::-1]

'ananab'

## 6.5 Strings are immutable

In [30]:
fruit

'banana'

In [32]:
fruit[1] = 'b'

TypeError: 'str' object does not support item assignment

In [33]:
'a' + 'b'

'ab'

In [35]:
index = 1 # b[a]nana
new_fruit = fruit[:index] + 'b' + fruit[index+1:]
new_fruit

'bbnana'

## 6.6 Looping and counting

In [36]:
fruit

'banana'

In [37]:
count = 0
for letter in fruit:
    if letter == 'a':
        count += 1
print(count)

3

In [38]:
def count_letter(s, ch):
    count = 0
    for letter in s:
        if letter == ch:
            count += 1
    return count

In [40]:
count_letter(fruit, 'a')

3

In [41]:
count_letter('asd;lfdklsafkljdsaf;ljsadlkfsdkljf;ljsfdaldkjsdfsdfsadffdsaafdsfadsfsdsfadafdssdfsafdfsdafasdfsdasdfsf;lkf', 'f')

23

## 6.7 The `in` operator

In [ ]:
s = "ab" # "ab" => "aabb", "abc" => "aabbcc"
res = ""

In [43]:
"a" + "b"

'ab'

In [44]:
a = "ab"

In [45]:
a + a

'abab'

In [46]:
a * 3

'ababab'

In [47]:
def duplicate_each_letter_n_times(s, n):
    ret = ""
    for ch in s:
        ret += ch * n
    return ret

In [48]:
duplicate_each_letter_n_times("ab", 2)

'aabb'

In [49]:
duplicate_each_letter_n_times("abc", 2)

'aabbcc'

In [50]:
duplicate_each_letter_n_times("ab", 10)

'aaaaaaaaaabbbbbbbbbb'

## 6.8 String comparison

string comparison uses alphabetical order or dictionary order

In [52]:
'a' < 'b'

True

In [53]:
'a' < 'ba'

True

In [55]:
'a' < 'aa'

True

In [56]:
def compare_with_banana(word):
    """
    :param word: the word to compare with the string "banana"
    This function compares the parameter word with the string "banana" and prints the result
    """
    if word < 'banana':
        print('Your word ' + word + ' comes after banana.')
    elif word > 'banana':
        print('Your word ' + word + 'comes before banana.')
    else:
        print('All right, bananas.')

In [57]:
compare_with_banana('banana')

All right, bananas.

In [58]:
compare_with_banana('apple')

Your word apple comes after banana.

## 6.9 `string` methods

Since Python is a OOP(Object Oriented Programming) language, so every object in python has methods.

people.attack()

In [59]:
stuff = "hello, world"

In [60]:
type(stuff)

str

In [61]:
dir(stuff)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [62]:
"123".isdigit()

True

In [63]:
"je;p".isdigit()

False

In [64]:
fruit

'banana'

In [68]:
s = "a and b"
s.split()

['a', 'and', 'b']

## 6.10 Parsing strings

In [69]:
email = "fenghexu@zju.edu.cn"

In [71]:
index = email.find('@')
email[index+1:]

'zju.edu.cn'

## 6.11 Format operator

% is deprecated and not recommended

"Amy" "Bill" => "Amy and Bill are good friends"

{} is a placeholder and is replaced in order by the arguments of the format function

In [81]:
def friends(a, b):
    return "{1} and {0} are good friends".format(a, b)

In [74]:
friends('Ted', 'Tim')

'Ted and Tim are good friends'

In [75]:
def friends(a, b):
    return a + " and " + b + " are good friends".format(a, b)

In [76]:
friends('T', "D")

'T and D are good friends'

In [79]:
def what_some_one_did(person):
    return "{0} went to the store. {0} went to the beach".format(person)

In [80]:
what_some_one_did("I")

'I went to the store. I went to the beach'

In [82]:
friends("Tim", "Ted")

'Ted and Tim are good friends'